.preview-field-div{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.preview-field{
    border: 1px solid rgb(198, 198, 198);
    width: 100%;
    height: 70%;
    position: relative;
    box-sizing: border-box;
    
}
.stripe-image{
    position: absolute;
    width: 50px;
    height: 70px;
    transition: width 2s, height 2s, background-color 2s, transform 2s,
    position 2s, left 2s, right 2s, scale 2s, top 2s;
    position: relative;
    cursor: pointer;
}


.run-sprite {
    position: absolute;
    top: 20px;
    right: 30px;
    border: rgb(0, 139, 214) 2px solid;
    padding: .2rem .5rem;
    color: rgb(0, 139, 214);
    border-radius: 5px;
    font-weight: 700;
    font-size: 13px;
  }
  
  .add-sprite {
    position: absolute;
    top: 20px;
    right: 130px;
    border: rgb(0, 139, 214) 2px solid;
    padding: .2rem .5rem;
    color: rgb(0, 139, 214);
    border-radius: 5px;
    font-weight: 700;
    font-size: 13px;
  }
  
  .replay-actions {
    position: absolute;
    top: 20px;
    right: 240px; 
    border: rgb(0, 139, 214) 2px solid;
    padding: .2rem .5rem;
    color: rgb(0, 139, 214);
    border-radius: 5px;
    font-weight: 700;
    font-size: 13px;
  }
  

.cloud-say,.cloud-think{
    border: 1px black solid;
    padding: .5rem;
    position: absolute;
    font-size: 12px;
    background-color: wheat;
    color: black;
    border-radius: 2pc;
}
.cloud-say{
    bottom: 0px;
}

.cloud-think {
    bottom: 0px; /* Adjust as needed */
    left: 50%; /* Position horizontally centered */
    transform: translateX(-50%); /* Center horizontally */
    border: 1px solid #333; /* Dark border */
    padding: .5rem;
    background-color: lightblue; /* Light blue background */
    color: #333; /* Dark text color */
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Shadow for depth */
}

